@font-face{ 
	font-family: 'Komika';
	src: url('fonts/komikaaxis/KOMIKAX_-webfont.eot');
	src: url('fonts/komikaaxis/KOMIKAX_-webfont.eot?iefix') format('eot'),
	     url('fonts/komikaaxis/KOMIKAX_-webfont.woff') format('woff'),
	     url('fonts/komikaaxis/KOMIKAX_-webfont.ttf') format('truetype'),
	     url('fonts/komikaaxis/KOMIKAX_-webfont.svg#webfont') format('svg');
}