// bower:scss
// endbower
$white: #ffffff;
$dark-gray: #333333;


@import 'fonts';

h1, h2{
    font-family: 'Komika', Arial, Helvetica, sans-serif;
}

body {
    background: url(../images/shattered.png);
    font-family: 'Anonymous Pro', Arial, Helvetica, sans-serif;
    color: $dark-gray;
}

.site-header{
    .intro{
        
    }
}
